

.legend__barChart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 165px;
    margin-top: 65px;
    width: 48vw;

}

.legend__barChart__title {
    color: #20253A;
    font-size: 0.94rem;
}

.legend__barChart__icons {
    display: flex;
}

.legend__barChart__icons__bullet > img {
    padding-left: 32px; 
}

.legend__barChart__icons__bullet__text {
    color: #74798C;
    padding-left: 12px; 
    font-size: 0.875rem;
}
.chart-container {
   margin-top: 50px;
    width: 65vw; 
    margin-left: 125px;
    background-color: #FBFBFB;
  }