

.legend__barChart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-left: 125px

}

.legend__barChart__title {
    color: #20253A;
    font-size: 0.94rem;
    margin-bottom: 3.8rem;
    margin-top: 264px
}

.legend__barChart__icons {
    display: flex;
    margin-top: 195px
}

.legend__barChart__icons__bullet > img {
    padding-left: 32px; 
}

.legend__barChart__icons__bullet__text {
    color: #74798C;
    padding-left: 12px; 
    font-size: 0.875rem;
}
.chart-container {
    position: relative;
    top: 306px;
    width: 65vw; 
    margin-left: 125px;
    
    
  }