.toolType-container {
    width: 2.4rem; /* ou 39px */
    height: 63px;
    background-color: #E60000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .toolType-container__text {
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    color: #fff;
    margin-top: 0.4rem; /* ou 7px */
  }
  