#sidebar_wrapper {
    background: #020203;
    position: fixed; 
    width: 10%;
    top: 120px; 
    bottom: 0;
    left: 0;
    height: 100%; 
    flex-direction: column;
    align-items: center;
}


.sidebar_icon{
    position: fixed;
    height: 64vh;
    display: flex;
    top: 30%;
    left: 3%;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.copyright {
    height: 57vh;
    display: flex;
    align-items: center;
    padding-top: 18em;
}

.copyright p {
    font-size: 12px;
    color: #fff;
    transform: rotate(270deg) translateY(-50%);
    text-wrap: nowrap;
}