.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-heading {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #000;
    color: #ff0202;
    margin-bottom: 1rem;
}

.user-item {
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ff0202;
    width: 240px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.user-item:hover {
    color: #000;
}
