.container-keyPerformanceIndice {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container-keyPerformanceIndice__score-container {
    padding-top: 0px; /* Ajustez la marge supérieure selon vos besoins */
  }
  
  .container-keyPerformanceIndice__score-container__score,
  .container-keyPerformanceIndice__score-container__text {
    /* Ajoutez vos styles pour le score et le texte ici */
  }
  