#under-maintenance {
    margin-top: 45px;
    text-align: center;
}
#under-maintenance h1 {
    color:#ff0101;
}

#under-maintenance img {
    width: 20%;
}

#under-maintenance a {
    text-decoration: none;
    color: #ff0101;
    font-size: large;
    margin-top: 3em;
}
